/*Footer Start*/
.site-footer {
    position: relative;
    padding: 80px 0;
}

.footer-info {
    position: relative;

    .footer-logo {
        width: 120px;
        margin-bottom: 20px;
    }

    p {
        margin-bottom: 0;
    }
}
/*Footer End*/