$primary_color: #2811ff;
$secondary_color: #fb1475;
$purpel_color: #7b4fcf;
$red_color: #ee2a52;
$yellow_color: #fdc101;
$orange_color: #ff8400;
$light_blue_color: #42daf5;
$dark_color: #171717;
$green_color: #30b652;
$common_color: #777777;
$bg_color: #f3f5fa;
$black_color: #000000;
$white_color: #ffffff;
$body_font: 'Roboto', sans-serif;
$title_font: 'Roboto', sans-serif;
$shadow: 0 0 20px rgba($black_color, 16%);